
.content-area {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

.left-col {
    box-sizing: border-box;
    width: 20%;
}

.link-container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.left-col-link {
    color: black;
}

.content {
    box-sizing: border-box;
    width: 80%;
    margin: 0 auto;
}

.right-col {
    box-sizing: border-box;
    width: 20%;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
}

.ad-image {
    width: 80%;
}

.ad-text {
    width: 80%;
}

@media only screen and (max-width: 600px) {
    .left-col {
        box-sizing: border-box;
        width: 0%;
        visibility: hidden;
        display: none;
    }
    
    .content {
        box-sizing: border-box;
        width: 100%;
        margin: 0 auto;
    }
    
    .right-col {
        box-sizing: border-box;
        width: 0%;
        display: flex;
        flex-flow: column nowrap;
        align-items: flex-end;
        visibility: hidden;
        display: none;
    }
}
